body {
    margin:0;
    padding:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Pangolin', cursive;
}

h1, .gameStatus {
    font-family: 'Permanent Marker', cursive;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    background-color: rgba(255,255,255,0.7);
}

.modal-content {
    background-color: rgb(250, 185, 8);
    margin: 10% auto;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.playerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 10px;
}

.sliderCon {
    display: flex;
    justify-content: center;
}

label {
    margin-bottom: 15px;
}

input {
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    width: 200px;
}

.gameSetting {
    display: flex;
    justify-content: space-between;
}

.gameBoard {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    gap: 10px;
    color: #FFF;
    font-size: 85px;
    font-family: 'Fredoka One', cursive;
}

.square {
    background-color: #2196F3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gameStatus {
    margin: 25px;
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 185, 8);
    font-size: 24px;
    border-radius: 15px;

}

.resetDiv {
    display: flex;
    justify-content: center;
}

.markerSelect {
    font-size: 28px;
    font-family: 'Fredoka One', cursive;
    margin: 0 15px;
}

#p1X, #p2O {
    color: #2196F3;
}

button {
    font-family: 'Pangolin', cursive;
    cursor: pointer;
    background-color: #90ccfd;
    margin: 10px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
}

#formError {
    color: red;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #90ccfd;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }